body {
  background-color: #000000;
  color: #3c463c;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #3c463c;
  background-color: #101010;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #eeeeee;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 2px solid #3c463c;
  background-color: #000000;
  color: #3c463c;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

button:active {
  transform: translateY(-2px) translateX(+1px);
  transition: 0.3s ease-in-out;
  border-color: #dfdfdf56;
}

.output {
  width: 100%;
  min-height: 100px;
  border: 2px solid #ebebeb;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  padding: 10px;
}
