body
{
 font-family: verdana, sans-serif;
}

#placa
{
    border: 3px solid #2364b9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 400px;
    float: left;
}

#cpu
{
    border: 3px solid #2364b9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: auto;
}

#memory
{
    border: 3px solid #2364b9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 400px;
    float: right;
    margin-top: -130px;
}