body {
  background-color: #000000;
  color: #3c463c;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #3c463c;
  background-color: #101010;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

label {
  color: #d3d3d3;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #eeeeee;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 2px solid #3c463c;
  background-color: #000000;
  color: #3c463c;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

button:active {
  transform: translateY(-2px) translateX(+1px);
  transition: 0.3s ease-in-out;
  border-color: #dfdfdf56;
}

.output {
  width: 100%;
  min-height: 100px;
  border: 2px solid #ebebeb;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #2e2e2e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav_list li {
  display: inline;
}

.nav_list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav_list a:hover {
  color: #ffcc00;
}

@media (max-width: 768px) {
  .nav_list {
    flex-direction: column;
    align-items: center;
  }

  .nav_list a {
    padding: 10px 0;
  }
}

#downloadBtn {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #3c463c;
  background-color: #000000;
  color: #3c463c;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

#downloadBtn:active {
  transform: translateY(-2px) translateX(+1px);
  transition: 0.3s ease-in-out;
  border-color: #dfdfdf56;
}
